<div class="input-flex">
  <form enctype="multipart/form-data" method="POST">
    <input
      class="picture-input"
      type="file"
      multiple
      accept="image/*,image/jpeg,image/png"
      name="picture-input"
    />
  </form>
  <textarea
    onkeyup="if (event.keyCode == 13)
      this.value = this.value.replace (/\r/g, '').replace (/\n/g, '')"
    (keydown)="symbolAddCheck($event)"
    name=""
    id="input"
    cols="50"
    rows="3"
    maxlength="1000"
    [(ngModel)]="messageToSend"
    placeholder="Напишите своё сообщение..."
  ></textarea>
  <button (click)="this.sendMessage()">Отправить</button>
</div>
