<div class="input-flex">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <div class="file_upload">
    <i class="fas fa-paperclip"></i>
    <!-- <img src="" id="imagePreview" /> -->
    <input
      class="picture-input"
      id="picture-input"
      type="file"
      multiple
      accept="image/*,image/jpeg,image/png"
      name="picture-input"
      (change)="this.previewFile()"
    />
  </div>

  <textarea
    onkeyup="if (event.keyCode == 13)
      this.value = this.value.replace (/\r/g, '').replace (/\n/g, '')
      "
    (keydown)="symbolAddCheck($event)"
    (click)="symbolAddCheck($event)"
    (mouseup)="symbolAddCheck($event)"
    (change)="symbolAddCheck($event)"
    (cut)="symbolAddCheck($event)"
    (copy)="symbolAddCheck($event)"
    (paste)="symbolAddCheck($event)"
    name=""
    id="input"
    cols="60"
    rows="3"
    maxlength="1000"
    [(ngModel)]="messageToSend"
    placeholder="Напишите своё сообщение..."
  ></textarea>
  <i class="fas fa-paper-plane sendIcon" (click)="this.sendMessage()"></i>
</div>
