.input-flex {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.picture-input {
  background-color: rgb(16, 13, 26);
  color: whitesmoke;
  width: 100%;
  height: 100%;
}

.file_upload {
  position: relative;
  overflow: hidden;
  min-width: 5em;
  font-size: 1em;
  height: 3em;
  line-height: 2em;
}

.file_upload > div {
  color: whitesmoke; /* rgb(16, 87, 87) */
  padding-left: 1em;
  margin: 0;
  font-size: 90%;
}

@media only screen and (max-width: 500px) {
  .file_upload > div {
    display: none;
  }
  .file_upload > button {
    width: 100%;
  }
}

.file_upload input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(20);
  letter-spacing: 10em;
  -ms-transform: scale(20);
  opacity: 0;
  cursor: pointer;
}

#imagePreview {
  position: absolute;
  display: none;
  height: 40px;
  widows: 30px;
  right: 45px;
  /* border: solid gray 1px; */
  border-radius: 0.5em;
}

textarea {
  border: none;
  color: #6c7883;
  background-color: inherit;
  overflow: hidden;
  overflow-wrap: break-word;
  outline: none;
  resize: none;
  overflow-y: scroll;
}

button {
  background: linear-gradient(0, rgb(28, 28, 49), rgb(16, 13, 26));
  color: aliceblue;
  border-bottom-right-radius: 3em;
  border-top-right-radius: 3em;
}

i {
  font-size: 120%;
  color: white;
  cursor: pointer;
}

.sendIcon {
  margin-left: 1em;
  color: #4082bc;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4082bc;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px #242f3d;
}
