<div class="messages" id="messages">
  <div class="nameBlock">
    <div class="nameAndAbsent">
      <p class="name">
        {{ this.usersService.getUserNameById(this.dialogueId) }}
      </p>
      <p class="absent">
        {{ this.absentTime }}
      </p>
    </div>
    <div class="dropdownMenu">
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous"
      />
      <div class="menu">
        <i class="fas fa-ellipsis-v"> </i>
        <ul class="dropdownChild">
          <li (click)="swapColorTheme()">Swap color theme</li>
          <li>View profile</li>
          <li (click)="disableNotif(this.dialogueId)">Disable notifications</li>
          <li>Edit contact</li>
          <li (click)="disableDialogue(this.dialogueId)">Delete contact</li>
        </ul>
      </div>
    </div>
    <div class="dayDiv">
      {{
        ("0" + (this.date.getMonth() + 1)).slice(-2) +
          "-" +
          ("0" + this.date.getDate()).slice(-2)
      }}
    </div>
  </div>
  <div class="items">
    <div
      class="messageItem"
      *ngFor="let message of messages.reverse()"
      [class.selected]="message === this.selectedMessage"
      [class.userMessageItem]="message.userId === 0"
      (click)="this.selectMessage(message)"
    >
      <img
        class="userPic"
        *ngIf="message.withUserPic"
        src="{{ this.usersService.getUserPicById(message.userId) }}"
      />
      <div class="messageTextAndStamp">
        <div class="messageText">
          <p>{{ message.message }}</p>
          <img
            class="pic"
            *ngIf="message.picSrc !== ''"
            src="{{ message.picSrc }}"
            alt="error"
          />
        </div>
        <div class="messageTimestamp">
          <span *ngIf="message.timestamp.getDate() !== this.date.getDate()">{{
            message.timestamp | date
          }}</span>
          {{ message.timestamp | date: "hh:mm" }}
        </div>
      </div>
    </div>
  </div>
</div>
