body {
  margin: 0;
}

.container {
  background-color: #17212b;
  font-family: "Roboto", sans-serif;
  height: 100vmin;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 35% 45% 20%;
  grid-template-areas:
    "users messages messages"
    "users messages messages"
    "users input input";
}

.whiteTheme {
  background-color: rgb(112, 103, 143);
}

.messages {
  background-color: inherit;
  grid-area: messages;
}

.input {
  background-color: inherit;
  grid-area: input;
}

.users {
  background-color: inherit;
  border-right: solid black 1px;
  color: whitesmoke;
  font-style: bold;
  grid-area: users;
}

@media screen and (min-width: 2000px) {
  .container {
    font-size: 200%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    font-size: 45%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    font-size: 22%;
  }
}

@media handheld {
  .container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
}
