.flex-users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80%;
  margin-top: 3%;
}

.users {
  margin-top: 3%;
}

.user {
  cursor: pointer;
  border: solid black 1px;
  border-collapse: true;
}

.user:hover {
  background-color: rgb(0, 0, 155);
}

.selected {
  background-color: rgb(0, 155, 155);
}
