<div class="flex-users">
  <input
    type="text"
    (keyup)="searchUser($event)"
    maxlength="15"
    placeholder="Search..."
  />
  <div class="users">
    <div
      class="user"
      *ngFor="let user of usersToShow"
      (click)="changeDialogue(user.id)"
      [class.selected]="user.id === dialogueId"
    >
      <img src="{{ user.userPicUrl }}" alt="Пользователь" />
      <div class="nameAndLastMessage">
        <div class="userNameAndTime">
          <p class="userName">{{ user.name }}</p>
          <p class="time">
            {{ this.getLastMessage(user.id).timestamp | date: "hh:mm" }}
          </p>
        </div>
        <p class="lastMessage">
          {{ this.getLastMessage(user.id).message }}
        </p>
      </div>
    </div>
  </div>
</div>
