<div class="flex-users">
  <input
    type="text"
    (keyup)="searchUser($event)"
    maxlength="15"
    placeholder="Введите имя юзера..."
  />
  <div class="users">
    <div
      class="user"
      *ngFor="let user of usersToShow"
      (click)="changeDialogue(user.id)"
      [class.selected]="user.id === dialogueId"
    >
      <img src="{{ user.userPicUrl }}" alt="Пользователь" />
      <div class="nameAndLastMessage">
        <p class="userName">{{ user.name }}</p>
        <p class="lastMessage">
          {{ this.getLastMessage(user.id) }}
        </p>
      </div>
    </div>
  </div>
</div>
